Django==5.1.5
psycopg2-binary==2.9.10
gunicorn==21.2.0  # Solo si lo usas en producción
dj-database-url==2.1.0  # Para configurar la DB en producción
whitenoise==6.9.0  # Para servir archivos estáticos en producción
pillow==10.3.0  # Para manejar imágenes
numpy==1.26.4  # Si usas cálculos numéricos
pandas==2.2.2  # Si manejas análisis de datos en tu app
matplotlib==3.9.0  # Si generas gráficos
seaborn==0.13.2  # Si usas visualizaciones avanzadas
schedule==1.2.2  # Si automatizas tareas
selenium==4.25.0  # Solo si usas Web Scraping
scikit-learn==1.6.1  # Solo si usas Machine Learning
django-ploty-dash==1.6.1  # Si usas Dash en Django