    <section class="carousel">
      <div class="carousel__container">
        <div class="carousel-item">

          <div class="carousel-item__details">
            <div class="controls">
            </div>
            <h5 class="carousel-item__details--title">Gestion de Documentos</h5>
            <h6 class="carousel-item__details--subtitle">Accede a la herramienta de gestión de documentos para organizar, compartir y colaborar en archivos.</h6>
            <a href="{% url 'reporte' %}" class="btn btn-primary">Acceder</a>

          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-item__details">
            <div class="controls">
            </div>
            <h5 class="carousel-item__details--title">I+D+i Innovación y Nuevas Ideas</h5>
            <h6 class="carousel-item__details--subtitle">Explora nuevas ideas, proyectos de innovación y colabora en iniciativas de I+D+i.</h6>
            <a href="#" class="btn btn-secondary disabled">Próximamente...</a>

        </div>
        </div>
      </div>
    </section>