{% extends 'documentos/base.html' %}

{% block title %}Reporte - Gestión Documental{% endblock %}

{% block content %}

    <div id="usuario-container" class="container mb-5 mt-5">
        <div class="row">
            <!-- Tarjeta: Información del Usuario -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Usuario</h6>
                    <h4>{{ usuario_nombre }}</h4>
                    <h6 class="text-muted">{{ usuario_correo }}</h6>
                </div>
            </div>

            <!-- Tarjeta: Rol del Usuario -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Documentos Asociados:</h6>
                    <h2>{{ documentos_asociados }}</h2>
                </div>
            </div>

            <!-- Tarjeta: Eventos Enviados -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Eventos Enviados</h6>
                    <h2>{{ eventos_enviados }}</h2>
                </div>
            </div>

            <!-- Tarjeta: Eventos Recibidos -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Eventos Recibidos</h6>
                    <h2>{{ eventos_recibidos }}</h2>
                </div>
            </div>


        </div>
    </div>


    <div id = "tarjetas-container"class="container mb-5 mt-5">

        <div class="row">
            <!-- Tarjeta: Total de Proyectos -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Total de Proyectos</h6>
                    <h2>{{ total_proyectos }}</h2>
                </div>
            </div>
    
            <!-- Tarjeta: Total de Subproyectos -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Total de Subproyectos</h6>
                    <h2>{{ total_subproyectos }}</h2>
                </div>
            </div>
    
            <!-- Tarjeta: Total de Documentos -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Total de Documentos</h6>
                    <h2>{{ total_documentos }}</h2>
                </div>
            </div>
    
            <!-- Tarjeta: Total de Eventos -->
            <div class="col-md-3">
                <div class="card text-center">
                    <h6>Total de Eventos</h6>
                    <h2>{{ total_eventos }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="graficas-container" class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card p-4">
                    <h5 class="text-center">Subproyectos por Proyecto</h5>
                    <canvas id="grafica1"></canvas>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card p-4">
                    <h5 class="text-center">Documentos por Subproyecto</h5>
                    <canvas id="grafica2"></canvas>
                </div>
            </div>
        </div> <!-- Cierre de la primera fila -->
    
        <!-- Nueva fila para la gráfica de Documentos por Etapa -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card p-4">
                    <h5 class="text-center">Distribución de Documentos por Etapa</h5>
                    <canvas id="grafica3"></canvas>
                </div>
            </div>
        </div>        
        
    </div>
    


</div>

    {%load static%}
    <link rel="stylesheet" href="{% static 'documentos\css\reporte.css' %}">
    <link rel="stylesheet" href="{% static 'documentos\css\graficas.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="{% static 'documentos/js/reporte.js' %}" defer></script>

{% endblock %}